<div class="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/imge1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/imge2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/imge3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    <div class="demo">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Programming Language</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">c# Programming Course</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                        alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="assets/C.jfif"
                        data-holder-rendered="true">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">HTML Design Course</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                        alt="Thumbnail [200x250]" src="assets/html.jfif" data-holder-rendered="true"
                        style="width: 200px; height: 250px;">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Programming Language</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Asp Programming Course</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                        alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="assets/asp.jfif"
                        data-holder-rendered="true">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Css Styling Course</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                        alt="Thumbnail [200x250]" src="assets/css.jfif" data-holder-rendered="true"
                        style="width: 200px; height: 250px;">
                </div>
            </div>
        </div>
    </div>
    <div class="demo1">
        <div class="row">
          <div class="col-6">
            <h3 style="font-family: Times New Roman; margin-top: 0px;">
              Group Business
            </h3>
            <p>
              Clients are no longer looking for a ’one stop shop’ across the spectrum and go to
              ‘specialists’ for distinct hiring needs. For example, while ‘speed’ and ‘numbers’
              may be the mantra for mass hiring; the top end of the market is driven by ‘industry
              expertise’ and ‘the ability to engage’. We have distinct brands to address each
              segment to best address specific client needs.
            </p>
      
          </div>
          <div class="col-6">
            <ul class="list-icons">
              <li><i class="fa fa-map-marker pr-10"></i> <b>Office : </b>Flat No. A/7, Suryalok Nagari,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Waiduwadi, Hadapsar, Pune - 411013 </li>
              <li> <i class="fa fa-map-marker pr-10"></i> <b>Factory : </b>Gat No. 403, opp. Lodha Logistic,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Near Siddhi Ceramics, Lonikand, Haveli, Pune
              </li>
      
              <li><i class="fa fa-phone pr-10"></i>020-26812190</li>
              <li><i class="fa fa-envelope-o pr-10"></i>sandeep.patil@systechsolutions.co.in</li>
            </ul>
          </div>
        </div>
      </div>
