<div class="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/imge1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/imge2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/imge3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Engineering Design</h2>
          <p>Our aim is to leverage our one-stop-shop capabilities and added value from our expertise
            in a variety of industrial automation technologies like engineering automation,
            integration automation, DCS systems, factory automation, and embedded systems.
            <br>
            We have a strong team of engineers, who are providing best and quality support for
            completing small size as well as Turnkey project.<br>
          </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>System Control Panels</h2>
          <p> We are one of the leading manufacturers and suppliers of high quality Controller
            Cabinet which are used for connecting backbone cables and distributing cable. These
            are fabricated by our professionals using high grade factor inputs and latest technology
            in conformity with the international quality standards. Acknowledged for their precise
            dimension, high performance, corrosion &amp; heat resistance and durability
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>HMI Graphics</h2>
          <p><b>Work:</b> Sub picture development, graphic development, Dynamic linking, Validation.
            <br>
            <b>Projects:</b> we have completed so many big project for HMI Graphics through
            Honeywell Automation India Ltd,. Please find below the list of some of the major
            customer.<br>
            <b>Domestic :</b>IPCL, Nagothane, RCF,Thal, Tata Power-Mumbai, IPCL-Baroda, ONGC-Hazira,
            ONGC-Uran, HPCL-Vizag, ACC-Kymore, ACC-Wadi, Tata Steel-Jamshedpur
          </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
      </div>
    </div>
  
  
  
    <div class="demo">
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Graphics Design
          </h2>
          <p class="lead"> "Graphic design is the process art of combining text with graphics and communicating
            an effective message and control to the operators”. Our team has blend of knowledge
            understands customer process easily and prepares good looking, easy to understand
            graphics.<br>
            We developed all kind of graphics such as Plant Overview, Area Overview, Process
            graphics, and Equipment graphics
          </p>
          <ul>
            <li>Static development.</li>
            <li>Sub Picture development.</li>
            <li>Dynamic linking.</li>
            <li>Validation.</li>
            <li>Graphics functionality and controls checking.</li>
            <li>Popup and faceplate development for control various devices and instrument.</li>
            <li>Analogues and instruments status checking.</li>
            <li>GSH and CSS development</li>
          </ul>
          <p> All the Graphics we developed inline with customer working/process philosophy.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
            style="width: 500px; height: 500px;" src="assets/graphics.jpg" data-holder-rendered="true">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Software Development</h2>
          <p class="lead">We offer wide range of software solutions and services, couple of product and services
            listed below</p>
          <p>
            <b>Customized/Tailor made Software development : </b>We develop solutions that best
            meet business objectives of our customers and ensure long term value. Our solutions
            help you organize business and technology strategies cost effectively with best-in-class
            quality. With the scalability and flexibility to support long-term growth, our solutions
            provide rapid return on investment and low total cost of ownership. By using an
            iterative approach for our development, we ensure that the final product best meets
            our customer needs<br>
            <b>Biometric &amp; RFID solution for attendant tracking and Asset Tracking : </b>we
            offer automatic attending tracking using Biometric (finger print reader ) or RFID
            ( Card/tag reader ) solutions for tracking every in and out transaction and based
            on customers rule and regulation generate the reports<br>
            <b>Asset tracking : </b>reader based solution for automatic recording of asset movements
            within the premises. Using Passive, Semi-Passive or Active RFID.<br>
            <b>Access control :</b> The complexity of risks affecting the business has increased
            manifold and the need to gauge the Information Technology risks acting on the business
            operations has become paramount. We provide state-of-the-art access control software
            that integrates the most advanced security technologies with innovative networking
            capabilities to bring you full-featured security solutions serving any size facility.
            <br>
  
          </p>
        </div>
      
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
            src="assets/software.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  </div>
  <div class="demo">
    <div class="row">
      <div class="col-6">
        <h2>Our Team</h2>
        <p>
          We have recruited a crew of seasoned professionals and hard-working workers. These
          professionals are highly responsible in the success of our organization. We recruit
          these professionals on the basis of their knowledge and experience in their respective
          domain. Our team members always work in close-coordination to produce the finest
          range of products in minimum time. Their commitment and dedication are the only
          key factor that assists us to achieve the pre-determined goals of the organization.
        </p>
      </div>
      <div class="col-6">
        <h2>Our USP</h2>
        <p>
          We have gained an utmost position in the industry by offering the finest quality
          Control Panel Cabinets that are well-known among clients for their durability. Further,
          we also provide services like Control System Engineering Service, Systems Integrators
          etc. Some of the factors that have helped us in carving the niche for ourselves
          are:
        </p>
        <ol>
          <li>In-house manufacturing facilities</li>
          <li>Unmatched product quality</li>
          <li>Full Technical support for the products sold</li>
          <li>Competent &amp; experienced team</li>
          <li>In-house design facility</li>
          <li>Transform customer ideas to customized solutions</li>
        </ol>
  
      </div>
    </div>
  </div>
  <div class="demo1">
    <div class="row">
      <div class="col-6">
        <h3 style="font-family: Times New Roman; margin-top: 0px;">
          Group Business
        </h3>
        <p>
          Clients are no longer looking for a ’one stop shop’ across the spectrum and go to
          ‘specialists’ for distinct hiring needs. For example, while ‘speed’ and ‘numbers’
          may be the mantra for mass hiring; the top end of the market is driven by ‘industry
          expertise’ and ‘the ability to engage’. We have distinct brands to address each
          segment to best address specific client needs.
        </p>
  
      </div>
      <div class="col-6">
        <ul class="list-icons">
          <li><i class="fa fa-map-marker pr-10"></i> <b>Office : </b>Flat No. A/7, Suryalok Nagari,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Waiduwadi, Hadapsar, Pune - 411013 </li>
          <li> <i class="fa fa-map-marker pr-10"></i> <b>Factory : </b>Gat No. 403, opp. Lodha Logistic,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Near Siddhi Ceramics, Lonikand, Haveli, Pune
          </li>
  
          <li><i class="fa fa-phone pr-10"></i>020-26812190</li>
          <li><i class="fa fa-envelope-o pr-10"></i>sandeep.patil@systechsolutions.co.in</li>
        </ul>
      </div>
    </div>
  </div>
