
  <div class="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/imge1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/imge2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/imge3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  
    </div>
    </div>
 <div class="demo">
  <div class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material" action="#" method="POST">
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center heading">Register</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary"> <input type="text" class="form-control" name="first_name" value="" placeholder="First name" id="first_name"> </div>
                            <div class="form-group form-primary"> <input type="text" class="form-control" name="first_name" value="" placeholder="Last name" id="first_name"> </div>

                            <div class="form-group form-primary"> <input type="text" class="form-control" name="email" value="" placeholder="Email" id="email"> </div>
                            <div class="form-group form-primary"> <input type="password" class="form-control" name="password" placeholder="Password" value="" id="password"> </div>
                            <div class="form-group form-primary"> <input type="password" class="form-control" name="password_confirm" placeholder="Repeat password" value="" id="password_confirm"> </div>
                            <div class="row">
                                <div class="col-md-12"> <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="Signup Now"> <!-- <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="fa fa-lock"></i> Signup Now </button> -->
                                </div>
                            </div>
                            <div class="or-container">
                                <div class="line-separator"></div>
                                <div class="or-label">or</div>
                                <div class="line-separator"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div>
                            </div> <br>
                            <p class="text-inverse text-center">Already have an account? <a routerLink="/login" data-abc="true">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  </div>
  <div class="demo1">
    <div class="row">
      <div class="col-6">
        <h3 style="font-family: Times New Roman; margin-top: 0px;">
          Group Business
        </h3>
        <p>
          Clients are no longer looking for a ’one stop shop’ across the spectrum and go to
          ‘specialists’ for distinct hiring needs. For example, while ‘speed’ and ‘numbers’
          may be the mantra for mass hiring; the top end of the market is driven by ‘industry
          expertise’ and ‘the ability to engage’. We have distinct brands to address each
          segment to best address specific client needs.
        </p>

      </div>

      <div class="col-6">
        <ul class="list-icons">
          <li><i class="fa fa-map-marker pr-10"></i> <b>Office : </b>Flat No. A/7, Suryalok Nagari,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Waiduwadi, Hadapsar, Pune - 411013 </li>
          <li> <i class="fa fa-map-marker pr-10"></i> <b>Factory : </b>Gat No. 403, opp. Lodha Logistic,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Near Siddhi Ceramics, Lonikand, Haveli, Pune
          </li>

          <li><i class="fa fa-phone pr-10"></i>020-26812190</li>
          <li><i class="fa fa-envelope-o pr-10"></i>sandeep.patil@systechsolutions.co.in</li>
        </ul>
      </div>
    </div>

  </div>

